.gray {
  color: #f4f4f4;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bc-gray {
  border-color: #f4f4f4;
}

.green {
  color: #99b898;
}

.bg-green {
  background-color: #99b898;
}

.bc-green {
  border-color: #99b898;
}

.yellow {
  color: #f9d56e;
}

.bg-yellow {
  background-color: #f9d56e;
}

.bc-yellow {
  border-color: #f9d56e;
}

.yellowlight {
  color: #f3ecc2;
}

.bg-yellowlight {
  background-color: #f3ecc2;
}

.bc-yellowlight {
  border-color: #f3ecc2;
}

.red {
  color: #e8505b;
}

.bg-red {
  background-color: #e8505b;
}

.bc-red {
  border-color: #e8505b;
}

.gray-light-25 {
  color: #f7f7f7;
}

.gray-dark-25 {
  color: #b7b7b7;
}

.bg-gray-light-25 {
  background-color: #f7f7f7;
}

.bg-gray-dark-25 {
  background-color: #b7b7b7;
}

.bc-gray-light-25 {
  border-color: #f7f7f7;
}

.bc-gray-dark-25 {
  border-color: #b7b7b7;
}

.gray-light-50 {
  color: #fafafa;
}

.gray-dark-50 {
  color: #7a7a7a;
}

.bg-gray-light-50 {
  background-color: #fafafa;
}

.bg-gray-dark-50 {
  background-color: #7a7a7a;
}

.bc-gray-light-50 {
  border-color: #fafafa;
}

.bc-gray-dark-50 {
  border-color: #7a7a7a;
}

.gray-light-75 {
  color: #fcfcfc;
}

.gray-dark-75 {
  color: #3d3d3d;
}

.bg-gray-light-75 {
  background-color: #fcfcfc;
}

.bg-gray-dark-75 {
  background-color: #3d3d3d;
}

.bc-gray-light-75 {
  border-color: #fcfcfc;
}

.bc-gray-dark-75 {
  border-color: #3d3d3d;
}

.green-light-25 {
  color: #b3cab2;
}

.green-dark-25 {
  color: #738a72;
}

.bg-green-light-25 {
  background-color: #b3cab2;
}

.bg-green-dark-25 {
  background-color: #738a72;
}

.bc-green-light-25 {
  border-color: #b3cab2;
}

.bc-green-dark-25 {
  border-color: #738a72;
}

.green-light-50 {
  color: #ccdccc;
}

.green-dark-50 {
  color: #4d5c4c;
}

.bg-green-light-50 {
  background-color: #ccdccc;
}

.bg-green-dark-50 {
  background-color: #4d5c4c;
}

.bc-green-light-50 {
  border-color: #ccdccc;
}

.bc-green-dark-50 {
  border-color: #4d5c4c;
}

.green-light-75 {
  color: #e6ede5;
}

.green-dark-75 {
  color: #262e26;
}

.bg-green-light-75 {
  background-color: #e6ede5;
}

.bg-green-dark-75 {
  background-color: #262e26;
}

.bc-green-light-75 {
  border-color: #e6ede5;
}

.bc-green-dark-75 {
  border-color: #262e26;
}

.yellow-light-25 {
  color: #fbe092;
}

.yellow-dark-25 {
  color: #bba053;
}

.bg-yellow-light-25 {
  background-color: #fbe092;
}

.bg-yellow-dark-25 {
  background-color: #bba053;
}

.bc-yellow-light-25 {
  border-color: #fbe092;
}

.bc-yellow-dark-25 {
  border-color: #bba053;
}

.yellow-light-50 {
  color: #fceab7;
}

.yellow-dark-50 {
  color: #7d6b37;
}

.bg-yellow-light-50 {
  background-color: #fceab7;
}

.bg-yellow-dark-50 {
  background-color: #7d6b37;
}

.bc-yellow-light-50 {
  border-color: #fceab7;
}

.bc-yellow-dark-50 {
  border-color: #7d6b37;
}

.yellow-light-75 {
  color: #fef5db;
}

.yellow-dark-75 {
  color: #3e351c;
}

.bg-yellow-light-75 {
  background-color: #fef5db;
}

.bg-yellow-dark-75 {
  background-color: #3e351c;
}

.bc-yellow-light-75 {
  border-color: #fef5db;
}

.bc-yellow-dark-75 {
  border-color: #3e351c;
}

.yellowlight-light-25 {
  color: #f6f1d1;
}

.yellowlight-dark-25 {
  color: #b6b192;
}

.bg-yellowlight-light-25 {
  background-color: #f6f1d1;
}

.bg-yellowlight-dark-25 {
  background-color: #b6b192;
}

.bc-yellowlight-light-25 {
  border-color: #f6f1d1;
}

.bc-yellowlight-dark-25 {
  border-color: #b6b192;
}

.yellowlight-light-50 {
  color: #f9f6e1;
}

.yellowlight-dark-50 {
  color: #7a7661;
}

.bg-yellowlight-light-50 {
  background-color: #f9f6e1;
}

.bg-yellowlight-dark-50 {
  background-color: #7a7661;
}

.bc-yellowlight-light-50 {
  border-color: #f9f6e1;
}

.bc-yellowlight-dark-50 {
  border-color: #7a7661;
}

.yellowlight-light-75 {
  color: #fcfaf0;
}

.yellowlight-dark-75 {
  color: #3d3b31;
}

.bg-yellowlight-light-75 {
  background-color: #fcfaf0;
}

.bg-yellowlight-dark-75 {
  background-color: #3d3b31;
}

.bc-yellowlight-light-75 {
  border-color: #fcfaf0;
}

.bc-yellowlight-dark-75 {
  border-color: #3d3b31;
}

.red-light-25 {
  color: #ee7c84;
}

.red-dark-25 {
  color: #ae3c44;
}

.bg-red-light-25 {
  background-color: #ee7c84;
}

.bg-red-dark-25 {
  background-color: #ae3c44;
}

.bc-red-light-25 {
  border-color: #ee7c84;
}

.bc-red-dark-25 {
  border-color: #ae3c44;
}

.red-light-50 {
  color: #f4a8ad;
}

.red-dark-50 {
  color: #74282e;
}

.bg-red-light-50 {
  background-color: #f4a8ad;
}

.bg-red-dark-50 {
  background-color: #74282e;
}

.bc-red-light-50 {
  border-color: #f4a8ad;
}

.bc-red-dark-50 {
  border-color: #74282e;
}

.red-light-75 {
  color: #f9d3d6;
}

.red-dark-75 {
  color: #3a1417;
}

.bg-red-light-75 {
  background-color: #f9d3d6;
}

.bg-red-dark-75 {
  background-color: #3a1417;
}

.bc-red-light-75 {
  border-color: #f9d3d6;
}

.bc-red-dark-75 {
  border-color: #3a1417;
}

html,
body {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 300;
}
/*# sourceMappingURL=styles.css.map */